.chats {
  flex: 2;
  border-right: 1px solid #dddddd35;
  border-left: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: bold;
        }
        p {
          font-weight: 300;
          font-size: 14px;
          color: #a3a3a3fb;
        }
      }
    }
    .icons {
      display: flex;
      gap: 20px;
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  .center {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;
      align-self: flex-start;

      &.own {
        align-self: flex-end;

        p {
          background-color: #5183fe !important;
          padding: 20px;
          border-radius: 10px;
        }
        span {
          font-size: 13px;
          color: #a3a3a3fb;
        }
      }

      .texts {
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 10px;
        }
        p {
          background-color: #5183fe;
          padding: 20px;
          border-radius: 10px;
        }
        span {
          font-size: 13px;
          color: #a3a3a3fb;
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
          background-color: rgba(17, 25, 40, 0.3);
          padding: 20px;
          border-radius: 10px;
        }

        span {
          font-size: 13px;
          color: #a3a3a3fb;
        }
      }
    }
  }

  .bottom {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #dddddd35;
    margin-top: auto;

    .icons {
      display: flex;
      gap: 10px;
    }
    input {
      background-color: rgba(17, 25, 40, 0.5);
      border: none;
      outline: none;
      flex: 1;
      color: #fff;
      padding: 10px;
      font-size: 14px;
      border-radius: 10px;

      &:disabled {
        cursor: not-allowed;
        background-color: rgba(17, 25, 40, 0.418);
      }
    }
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .sendButton {
      padding: 10px 20px;
      border-radius: 10px;
      background-color: #5183fe;
      border: none;
      outline: none;
      color: #fff;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
        background-color: #5182fead;
      }
    }
    .emoji {
      position: relative;
    }
    .picker {
      position: absolute;
      bottom: 50px;
      left: 0;
    }
  }
}
