@import "../../_base.scss";
.sidebar {
  background: $black-primary;
  display: flex;
  flex: 0.2;
  flex-direction: column;
  width: 250px;
  height: 90vh;
  padding-top: 2rem;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: rem;
  z-index: 999;

  li {
    // display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
    margin: 0.2rem 0;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;

    span {
      margin-left: 1rem;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.4px;
    }
    &:hover {
      background: $border-color;
    }
  }
  hr {
    width: 100%;
    height: 1px;
    // border: none;
    border: 1px solid $border-color;
    margin: 1rem 0;
  }
  &.open {
    transform: translateX(0);
  }
}

@media (max-width: $breakpoint-medium) {
  .sidebar {
    width: 90px;

    li {
      justify-content: center;
    }
    span {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    z-index: 999;
  }
}
