@import "../../base";

.sidebar {
  background: $black-secondary;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 90vh;
  padding-top: 2rem;
  transition: 0.5s ease-in-out;

  li {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5px;
    margin: 0.2rem 0;
    cursor: pointer;

    span {
      margin-left: 1rem;
      font-weight: bold;
      letter-spacing: 0.5px;
      font-size: 14px;
    }
    &:hover {
      background: $border-color;
    }
  }
  hr {
    background: $border-color;
  }
  &.open {
    transform: translateX(0);
  }
}

@media (max-width: $breakpoint-medium) {
  .sidebar {
    width: 90px;

    li {
      justify-content: center;

      span {
        display: none;
      }
    }
  }
}
@media (max-width: $breakpoint-small) {
  .sidebar {
    transform: translateX(-100%);

    position: fixed;
    z-index: 999;
  }
}
