@import "./base.scss";

.app_container {
  display: flex;
  height: 90vh;
}
.app_main {
  margin-left: 14rem;
  flex-wrap: wrap;
  margin-top: 18vh;
}

@media (max-width: $breakpoint-medium) {
  .app_main {
    margin-left: 0px;
  }
}
