.chatList {
  flex: 1;
  overflow-y: scroll;
  .search {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    .searchBar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      border-radius: 14px;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        flex: 1;
        color: #fff;
      }
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    .add {
      width: 36px;
      height: 36px;
      cursor: pointer;
      background-color: rgba(17, 20, 40, 0.5);
      border-radius: 10px;
      padding: 10px;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #dddddd35;
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: 500;
      }
      p {
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
}
